# Backend API URL
NEXT_PUBLIC_API_URL=http://localhost:5001/api

# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDsGQhwFwVFt_2bIwUzMh0RMfLb_JzZIRQ
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=zap-shift-d7129.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=zap-shift-d7129
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=zap-shift-d7129.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1074350366872
NEXT_PUBLIC_FIREBASE_APP_ID=1:1074350366872:web:f35a602edd27a1055e70ed
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-TSXYMWDV43
